@import "tailwindcss";

html {
  scroll-behavior: smooth;
}


.light-theme {
  background-color: #e9ecf1;  
  color: #1f2937;
}


.dark-theme {
  background-color: #16181d; 
  color: #e5e7eb;
}


body, .dark-theme, .light-theme {
  transition: background-color 0.4s ease, color 0.4s ease;
}
